<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>

    <!-- <script src="/scripts/typedjs.js"></script> -->

    <title><%- title %></title>
    <style>
      html,
      body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      .sections {
        width: 33.33%;
        height: 50%;
        float: left;
        padding-left: 1%;
      }
      #div1,
      #div3,
      #div5 {
        background: #eee;
      }
      #div2,
      #div4,
      #div6 {
        background: #ccc;
      }

      ul {
        columns: 2;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bluffmaster</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!--add controls in future if required-->
            <li class="nav-item">
              <a class="nav-link" href="/participants/register">Add Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/question/form"
                >Upload questions</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/scoreupdate/form"
                >Score update</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/participants/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="div1" class="sections">
      <h5>Select question to display</h5>
      <ul>
        <li>
          <a href="#" id="change-to-question-none" style="color: green">None</a>
        </li>
        <% for(let i = 0;i < questionsNotDone.length ;i++) { %>
        <li>
          <a href="#" id="change-to-question<%- questionsNotDone[i] %>"
            >Question<%- questionsNotDone[i] %></a
          >
        </li>
        <% } %>
        <li>
          <a href="#" id="rest-isquestiondone-flag" style="color: red">reset</a>
        </li>
      </ul>
    </div>
    <div id="div2" class="sections">
      <h5>Choose bluffmaster</h5>

      <% for(let i = 0;i < participants.length;i++){
      if(participants[i].isRemoved || participants[i].username === "admin" ||
      participants[i].username === "audience"){ continue; } else { %>
      <button
        id="participant<%= participants[i].p_id %>"
        class="selectbluff m-2 btn <%= (participants[i].p_id)%2 ? 'btn-light' : 'btn-dark' %>"
      >
        <%= participants[i].username %>
      </button>
      <% } }%>

      <button id="resetbluff" class="btn btn-danger" style="margin-left:10%">
        None(reset)
      </button>
      <h6>Bluffmaster:</h6>
      <h6 id="bluffteam" class="mt-2">None</h6>
    </div>
    <div id="div3" class="sections">
      <button id="reset-votes" class="btn btn-warning">reset votes!</button>
      <button id="fetch-voting-details" class="btn btn-success">
        fetch voting details
      </button>
      <ul id="voting-details"></ul>
    </div>
    <div id="div4" class="sections">
      <p id="question"></p>
    </div>
    <div id="div5" class="sections">
      correct options: <br />
      <ol id="correctoptions"></ol>
    </div>
    <div id="div6" class="sections">
      <button id="undo-remove" class="btn btn-warning">reset</button>
      <span>(undo removes)</span>
      <h3>Remove teams</h3>
      <div id="teams-left"></div>
    </div>
    <div class="toastlikemessage" style="display: none"></div>
    <script src="/script/admin.js"></script>
  </body>
</html>
