<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>

    <!-- <script src="/scripts/typedjs.js"></script> -->

    <title><%- title %></title>
    <style>
      html,
      body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      .sections {
        width: 33.33%;
        height: 50%;
        float: left;
      }
      #div1 {
        background: #eee;
      }
      #div2 {
        background: #ccc;
      }
      #div3 {
        background: #eee;
      }
      #div4 {
        background: #ccc;
      }
      #div5 {
        background: #eee;
      }
      #div6 {
        background: #ccc;
      }
      .toastlikemessage {
        width: 200px;
        height: 20px;
        height: auto;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        bottom: 10px;
        background-color: #383838;
        color: #f0f0f0;
        font-family: Calibri;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        border-radius: 2px;
        -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
        -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
        box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bluffmaster</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!--add controls in future if required-->
            <li class="nav-item">
              <a class="nav-link" href="/participants/register">Add Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/question/form"
                >Upload questions</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/participants/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="div1" class="sections">
      Select question to display
      <ul>
        <li><a href="#" id="change-to-question1">Q.1</a></li>
        <li><a href="#" id="change-to-question2">Q.2</a></li>
        <li><a href="#" id="change-to-question3">Q.3</a></li>
        <li><a href="#" id="change-to-question4">Q.4</a></li>
        <li><a href="#" id="change-to-question5">Q.5</a></li>
      </ul>
    </div>
    <div id="div2" class="sections">
      Choose bluffmaster
      <ul>
        <% for(let i = 0;i < participants.length;i++){ %>
        <li>
          <a
            href="#"
            id="participant<%= participants[i].p_id %>"
            class="selectbluff"
            >p_id <%= participants[i].p_id %> : <%= participants[i].username
            %></a
          >
        </li>
        <% } %>
      </ul>
      <button id="resetbluff" class="btn btn-danger" style="margin-left:10%">
        set no one as bluffmaster!
      </button>
    </div>
    <div id="div3" class="sections">
      voting details
    </div>
    <div id="div4" class="sections">
      <p id="question"></p>
    </div>
    <div id="div5" class="sections">
      correct options: <br />
      <ol id="correctoptions"></ol>
    </div>
    <div id="div6" class="sections"></div>
    <div class="toastlikemessage" style="display: none"></div>
    <script>
      // question selection logic
      for (let i = 0; i < 5; i++) {
        $("#change-to-question" + (i + 1)).on("click", () => {
          console.log("clicked question change");
          $.post("/feed/setcurrentquestion/" + (i + 1), function(data, status) {
            console.log("Data: " + data + "\nStatus: " + status);
          });
          toastMessage("Selected Question " + (i + 1));
          $.ajax({
            url: `/fetch/question/${i + 1}`,
            success: function(result) {
              let data = result.question[0].question;
              console.log(result);
              if (result && result.question.length > 0) {
                $("#question").text(data.statement);
                $("#correctoptions").empty();
                for (let i = 0; i < data.correctoptions.length; i++) {
                  let x = $("<li></li>");
                  $(x).text(data.correctoptions[i].option);
                  $("#correctoptions").append(x);
                }
              } else {
                $("#question").text("");
                $("#correctoptions").empty();
                toastMessage("Question not found!");
              }
            }
          });
        });
      }
      // bluffmaster reset logic(sets no one as bluffmaster)
      $("#resetbluff").on("click", () => {
        console.log("clicked reset bluffmaster");
        $.post("/feed/resetbluffmaster", function(data, status) {
          console.log("Data: " + data + "\nStatus: " + status);
        });
        toastMessage("No one is bluffmaster now");
      });
      // bluffmaster selection logic
      for (let i = 0; i < 3; i++) {
        $("#participant" + (i + 1)).on("click", () => {
          console.log("clicked bluff change");
          $.post("/feed/selectbluffmaster/" + (i + 1), function(data, status) {
            console.log("Data: " + data + "\nStatus: " + status);
          });
          toastMessage("p_id " + (i + 1) + " is now the bluffmaster!");
        });
      }
      // show toast Notification
      function toastMessage(message) {
        $(".toastlikemessage")
          .text(message)
          .stop()
          .fadeIn(400)
          .delay(3000)
          .fadeOut(400); //fade out after 3 seconds
      }
    </script>
  </body>
</html>
