<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>

    <!-- <script src="/scripts/typedjs.js"></script> -->

    <title><%- title %></title>
    <style>
      body {
        background-size: cover;
        background-repeat: no-repeat;
      }
      img {
        max-width: 100%;
        max-height: auto;
      }
      @media (min-width: 400px) {
        body {
          background-image: url("/image/bg-mob.jpg");
        }
      }

      @media (min-width: 500px) {
        body {
          background: #888888;
        }
      }

      @media (min-width: 600px) {
        body {
          background-image: url("/image/bg-pc.jpg");
        }
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bluffmaster</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li>
              <%= participant %>
            </li>
            <% if(isBluff) { %>
            <li>
              👺 You're the Bluffmaster 👺
            </li>
            <% }%>
            <li class="nav-item">
              <a class="nav-link" href="/scoreboard">scoreboard</a>
            </li>
            <% if(question && (question[0].qno % 2 === 0)) { %>
            <li class="nav-item">
              <a class="nav-link" href="/vote" style="color: goldenrod"
                >Vote!</a
              >
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/participants/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container" align="center">
      <% if(isRemoved){ %>
      <div class="card" style="width: 80%;margin-bottom: 3%;">
        <h2>
          Sorry, you are no longer in the game!
        </h2>
      </div>
      <% } else if(question) { %>
      <div class="card" style="margin-top: 2%">
        <div class="card-body">
          <p>
            Question <%= question[0].qno %> . <%= question[0].question.statement
            %>
          </p>
        </div>
      </div>
      <div class="card" style="width: 80%;margin-bottom: 3%;">
        <ul class="list-group list-group-flush">
          <% for(let i = 0;i < question[0].question.correctoptions.length;i++) {
          %>
          <li
            class="list-group-item"
            id="option<%= question[0].question.correctoptions[i].optionNo %>"
            style="margin:1px;background-color: gray"
          >
            <%= question[0].question.correctoptions[i].option %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } else { %>
      <div class="card" style="width: 80%;margin-bottom: 3%;">
        <h1>
          Wait...
        </h1>
      </div>
      <% } %>
    </div>
    <script>
      for (let i = 1; i <= 10; i++) {
        $("#option" + i).on({
          mouseenter: function() {
            $("#option" + i).css("background-color", "white");
          },
          mouseleave: function() {
            $("#option" + i).css("background-color", "gray");
          }
        });
      }
    </script>
  </body>
</html>
